<html lang="en">
  <%- include("partials/head", {title: "C&D Homepage"}) %>
  <%- include("partials/nav", {user: user}) %>
  <main>
    <% if (user != undefined){ %>
      <h1>Welcome <%= user.username %></h1>
      <div class="messages-div">
        <form action="/homepage/new" method="post">
          <label for="title">Title</label>
          <input type="text" name="title" id="title">
          <label for="body">Post</label>
          <input type="text" name="body" id="body">
          <button type="submit">Post message</button>
        </form>
      </div>
    <% } else { %>
      <h1>Welcome</h1>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
    <% } %>
    <div>
      <% if (messages.length > 0 && messages) { %>
        <% messages.forEach(message => { %>
            <div>
              <% if (user && user.is_member === true){ %>
                <div>
                  <h2>Author: <%= message.username %></h2>
                </div>
              <% } %>
              <h1><%= message.title %></h1>
              <h2><%= message.animal %></h2>
              <p><%= message.body %></p>
              <span><%= message.created_at %></span>
              <% if (user && user.is_admin === true) { %>
                <% if (animalFilter){ %>
                  <form action='/homepage/delete/<%= message.id %>/<%= animalFilter %>'>
                  <button type="submit">Delete</button>
                </form>
                <% } else{ %>
                <form action='/homepage/delete/<%= message.id %>'>
                  <button type="submit">Delete</button>
                </form>
                <% } %>
              <% } %>
            </div>
        <% }) %>
      <% } %>
    </div>
  </main>
</html>